# Systemd unit file for tomcat
# Created by ansible
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME="{{ root_dir }}/{{ java_version }}/jre"
Environment=CATALINA_PID={{ tomcat_dir }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat_dir }}
Environment=CATALINA_BASE={{ tomcat_dir }}
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom -Dwicket.configuration=deployment -Dreg-bk=true -Dlogback.configurationFile={{ tomcat_dir }}/logs/conf/logback.xml'

ExecStart={{ tomcat_dir }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target