# Configured by ansible
set -g status-bg {{ tmux_status_bar_colour_bg }}
# seems not wroking in modern versions.
#set -g pane-active-border-fg {{ tmux_status_bar_colour_bg }}
set -g history-limit 10000
