[Unit]
Description=ActiveMQ service
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME={{ root_dir }}/jdk{{ java_version }}/jre
PIDFile={{ activemq_dir }}/activemq.pid
ExecStart={{ activemq_dir }}/activemq start
ExecStop={{ activemq_dir }}/activemq stop
User={{ activemq_user }}
Group={{ activemq_user }}

[Install]
WantedBy=multi-user.target

